{% extends "common.html" %}
{% load static %}

{% block title %}2022 UNIS 해커톤{% endblock %}

{% block content %}
<div class="row mt-2">
    <div class="col centeralign">

        <h2 id="welcome">UNIS 주관 2022 SW창업해커톤 신청안내</h2>
        <p id="intro">이화여자대학교 소프트웨어중심 실전창업동아리 UNIS</p>
        <div id="posters-container">
            <img src="https://i.imgur.com/27VJduf.png" class="poster"/>
            <img src="https://i.imgur.com/LJSt8NX.png" class="poster"/>
        </div>
    </div>
</div>
{% endblock %}